{% extends 'NewsApp/base.html' %}

{% block title %}
Մեր մասին
{% endblock %}

{% block about %}
<h1>Մեր մասին</h1><br>
<p>NEWS.am անկախ լրատվական-վերլուծական գործակալությունը մասնագիտացած է լրատվական եւ վերլուծական նյութերի
    պատրաստման ու դրանց սփռման գործում։Գործակալության հիմնական լսարանը այն անձինք ու կազմակերպություններն են,
    որոնք շահագրգիռ են ստանալու հավաստի տեղեկատվություն Հայաստանի ու Լեռնային Ղարաբաղի,
    ինչպես նաեւ Սփյուռքի հասարակական, քաղաքական եւ տնտեսական իրադարձությունների մասին։
    Գործակալությունը նաեւ իր ուշադրության կենտրոնում է պահում Հարավային Կովկասի երկրների կարեւոր
    իրադարձությունները, խնդիրներն ու զարգացումները։</p>
<p>NEWS.am լրատվական-վերլուծական գործակալություն

Հրատապ լուրեր Հայաստանից, Լեռնային Ղարաբաղից եւ աշխարհի բոլոր ծայրերից, որտեղ հայ է ապրում
Թարմ լրահոս 4 լեզուներով՝ հայերեն, ռուսերեն, անգլերեն եւ թուրքերեն
Հայաստանի, Վրաստանի, Ադրբեջանի, Իրանի, Թուրքիայի, Ռուսաստանի տպագիր եւ էլեկտրոնային լրատվամիջոցների,
    ինչպես նաեւ աշխարհի առաջատար հրատարակությունների տեսություն
Հարցազրույցներ, վ երլուծություններ, մեկնաբանություններ, թղթակցություններ եւ ֆոտոթղթակցություններ
Թեմատիկ տեղեկագրեր
Գործակալության մամուլի սրահը հագեցած է այն ամենով, ինչ անհրաժեշտ է մամուլի ասուլիսներ, «կլոր սեղաններ» եւ
    սեմինարներ կազմակերպելու համար</p>
<p>NEWS.am անկախ լրատվական-վերլուծական գործակալությունը մասնագիտացած է լրատվական եւ վերլուծական նյութերի
    պատրաստման ու դրանց սփռման գործում։Գործակալության հիմնական լսարանը այն անձինք ու կազմակերպություններն են,
    որոնք շահագրգիռ են ստանալու հավաստի տեղեկատվություն Հայաստանի ու Լեռնային Ղարաբաղի,
    ինչպես նաեւ Սփյուռքի հասարակական, քաղաքական եւ տնտեսական իրադարձությունների մասին։
    Գործակալությունը նաեւ իր ուշադրության կենտրոնում է պահում Հարավային Կովկասի երկրների կարեւոր
    իրադարձությունները, խնդիրներն ու զարգացումները։</p><br><br>
<b>Հասցե`   ք.Երեւան, Վերին Շենգավիթ 2-րդ փողոց, 7/1 շենք<br>
Հեռ.`   +37477 26 64 13, +37499 20 32 12</b>
{% endblock %}

