{% extends 'NewsApp/base.html' %}

{% block title %}
News.am
{% endblock %}


{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for article in article_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                         <a href="{% url 'article_detail' article.slug %}">
                    <img class="card-img-top" src="{{ article.image.url }}" height="200" width="300" alt="..."/>
                        </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5>{{ article.title }}</h5>
                            <!-- Product price-->
                            <p>{{ article.content|safe|linebreaks|truncatewords:10 }}</p>
                            <p>Կատեգորիա՝ {{ article.category }}</p>
                            <p>Հրապարակվել է՝<br> {{ article.date|date:"Y-m-d" }}</p>
                            <p>Հեղինակ՝ {{ article.author }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'article_detail' article.slug %}">Կարդալ ավելին</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}